body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(105, 105, 105);
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  overflow: hidden;
}
:root {
  --primary-color:#cb997e;
  --font-color: black;
  --heading-color: white;

}
.App {
  max-width: 700px;
  margin: 10px auto;
  padding: 40px;
  box-sizing: border-box;
}
.header {
  text-align: center;
  padding: 10px 0;
  color: var(--heading-color);
}
.header h1 {
  margin: 0;
}
.header p {
  font-size: 18px;
}
.header p span {
  font-size: 20px;
  font-weight: 700;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: var(--primary-color);
}
form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
input[type = text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 0px;
  border: none;
}
input[type = submit] {
  width: 120px;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: var(--heading-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
}
input[type = submit]:hover {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
}
::placeholder {
  font-family: inherit;
}
.book-list {
  margin: 30px 0;

}
.book-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: var(--primary-color);
  margin-bottom: 20px;
  padding: 10px 0px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.book-details div {
  padding-left: 10px;
}
.title, .author {
  margin: 0;
}
.delete-btn {
  width: 32px;
  height: auto;
  object-fit: contain;
  padding-right: 10px;
  cursor: pointer;
}
